@charset "utf-8";
/* CSS Document */
body{margin:0px; padding:0px; font-size:12px; font-family:"宋体"; color:#666;}
a{color:#666; text-decoration:none; outline:none;}
a:active{star:expression(this.onFocus=this.blur());} 
img{border:0px;}
a:link {text-decoration: none; outline:none;}
a:visited{text-decoration: none; outline:none;}
a:hover{text-decoration:none; color:#009999; outline:none;}
ul, p, dl, dt, dd{padding:0px; margin:0px;}
li{list-style-position:outside; list-style-type:none;}
h1, h2, h3, h4, h5{font-size:14px; padding:0px; margin:0px;}
h1{font-size:16px;}
h5{font-size:12px;}
.fl{float:left;}
.fr{float:right;}
.clear_f{clear:both; height:0px; padding:0px; margin:0px; display:block; _display:inherit;}
.h10{height:10px; overflow:hidden; clear:both;}
.h5{height:5px; overflow:hidden; clear:both;}
.h20{height:20px; overflow:hidden; clear:both;}
.h30{height:30px; overflow:hidden; clear:both;}
.h50{height:50px; overflow:hidden; clear:both;}
.h130{height:130px; overflow:hidden; clear:both;}

.w875{width:875px; overflow:hidden;}
.w300{width:300px; overflow:hidden;}
.w770{width:770px; overflow:hidden;}
.w220{width:220px; overflow:hidden;}
.w760{width:760px; overflow:hidden;}
.w780{width:780px; overflow:hidden; padding:23px 29px 23px 0;}
.w727{width:727px; overflow:hidden;}
.w257{width:257px; overflow:hidden;}

.wal{width:1190px; margin:0px auto; }
.blue{color:#009999;}
.Orange{color:#ff8207;}
.font14{font-size:14px;}

.topDiv{background:#f7f7f7; border-bottom:#dcdcdc solid 1px; height:32px; line-height:32px;}
.topDiv .wal{height:32px; position:relative;}
.topDiv b{font-size:16px; padding-right:6px;}
.topDiv .fr{position:relative; right:-16px;}
.topDiv li{float:left; padding:0 10px; background:url(/App_Themes/UI/Image/topIco1.gif) right center no-repeat;}
.topDiv .a1{padding-right:13px; background:url(/App_Themes/UI/Image/topIco2.gif) right center no-repeat;}

.headDiv{height:117px; position:relative;}
.headDiv .logo{position:absolute; z-index:10; left:0; top:26px;}
.headDiv .name{position:absolute; z-index:10; left:203px; top:37px; font-size:28px; color:#0ba39b; font-family:"微软雅黑";}
.headDiv .imgDiv{position:absolute; z-index:10; left:211px; top:34px;}
.topSearch{position:absolute; z-index:10; right:180px; top:32px; width:610px; overflow:hidden;}
.topSearch .input1{float:left; width:503px; height:34px; line-height:34px; padding:0 10px; border:#ccc solid 1px; color:#ccc;}
.topSearch .btn1{float:left; cursor:pointer; background:url(/App_Themes/UI/Image/topBtn.gif); width:85px; height:36px; border:0px; font-size:14px; font-weight:bold;}
.keyWord{clear:both; line-height:34px;}
.topBtn{position:absolute; z-index:10; right:10px; top:32px; width:150px; overflow:hidden; text-align:center;}
.topBtn a{text-decoration:underline;}
/**/
.headDiv .list{position:absolute; z-index:10; top:20px; right:-6px; line-height:32px;}
.headDiv .list li{float:left; padding:0 10px; background:url(/App_Themes/UI/Image/topIco1.gif) right center no-repeat; white-space:nowrap;}
.headDiv .list .a1{padding-right:13px; background:url(/App_Themes/UI/Image/topIco2.gif) right center no-repeat;}

.nav{background:url(/App_Themes/UI/Image/navBg.gif) top repeat-x; height:46px; line-height:46px; overflow:hidden;}
.nav li{float:left;}
.nav li a{display:block; float:left; padding:0 17px;overflow:hidden; font-size:14px; color:#FFF; white-space:nowrap;}
.nav li .aNow{font-weight:bold; background:url(/App_Themes/UI/Image/navBg1.gif) top repeat-x;}
.nav li a:hover, .nav li .aNow1{color:#fff; background:#05807a;}
.nav .fr{padding-top:6px;}
.nav .fr a{display:block; background:url(/App_Themes/UI/Image/navBtn.png) left top no-repeat; width:114px; height:32px; line-height:32px; text-align:center; overflow:hidden; color:#FFF;}

.sNav{position:absolute; z-index:100; width:260px; min-height:20px; _height:20px; background:#05807a; padding-top:10px; display:none;}
.sNav li{float:left; width:94px; height:25px; line-height:25px; padding-left:18px;}
.sNav a{color:#FFF;}

.footDiv{background:#f7f7f7; border-top:#e9e9e9 solid 1px; height:215px; text-align:center; line-height:24px;}
.footDiv .link{text-align:left; color:#999; padding:16px 0 30px 0;}
.footDiv .link a{color:#999;}
.footDiv .link a:hover{color:#333;}

.pageTitle{border:#e5e5e5 solid 1px; border-bottom:0px; background:url(/App_Themes/UI/Image/pageTitle.gif) top repeat-x; height:37px; line-height:37px; overflow:hidden; padding-left:12px; position:relative; color:#333;}
.pageTitle .more{font-size:12px; font-weight:100; color:#999; position:absolute; z-index:1; top:0px; right:12px;}
.pageBox{border:#e5e5e5 solid 1px; min-height:100px; _height:100px;}
.memberBox{background:url(/App_Themes/UI/Image/memberBox.gif) left repeat-y;}

.pageNow{height:50px; line-height:50px; overflow:hidden;}
.pageNow a, .pageNow span{color:#099;}

.pageNum{text-align:center; height:100px; overflow:hidden; padding-top:20px;}
.pageNum div{height:45px; overflow:hidden;}
.pageNum div a{display:inline-block; height:28px; line-height:28px; padding:0 10px; overflow:hidden; border:#dfdfdf solid 1px; font-family:"微软雅黑"; margin:0 2px;}
.pageNum div a:hover, .pageNum div .aNow{background:#009f97; border:#009f97 solid 1px; color:#FFF;}

.sideNav{background:url(/App_Themes/UI/Image/SpreadNav.gif) left repeat-y; min-height:100px; _height:100px; border-top:#e5e5e5 solid 1px; border-bottom:#e5e5e5 solid 1px; padding:8px 0;}
.sideNav a{display:block; height:38px; line-height:38px; overflow:hidden; font-size:14px; padding-left:27px;}
.sideNav a:hover, .sideNav .aNow{background:url(/App_Themes/UI/Image/sideNav.gif) left top no-repeat; font-weight:bold; color:#f39800;}

.memberNav{background:url(/App_Themes/UI/Image/memberNav.gif) top repeat-x; height:46px; overflow:hidden; border-left:#e5e5e5 solid 1px; border-right:#e5e5e5 solid 1px; padding-left:17px;}
.memberNav li{float:left; height:46px; background:url(/App_Themes/UI/Image/memberNavBg.gif) right top no-repeat;}
.memberNav a{display:block; float:left; height:46px; line-height:46px; overflow:hidden; font-size:14px; font-weight:bold; padding:0 40px;}
.memberNav a:hover, .memberNav .aNow{background:url(/App_Themes/UI/Image/memberNavBg1.gif) top repeat-x; color:#FFF;}

.memberSideNav{width:158px; overflow:hidden; padding-top:30px;}
.memberSideNav li{padding:0 0 18px 26px;}
.memberSideNav li img{float:left; margin-right:6px; position:relative; top:-1px;}
.memberSideNav .name{padding-bottom:10px;}
.memberSideNav a{color:#333;}
.memberSideNav a:hover, .memberSideNav li li a:hover{color:#009999;}
.memberSideNav li li{padding:0 0 0 33px; height:32px; line-height:32px; overflow:hidden;}
.memberSideNav li li a{color:#666;}

.memberTitle{background:url(/App_Themes/UI/Image/memberTitle.gif) top repeat-x; height:40px; overflow:hidden; position:relative; border-left:#e5e5e5 solid 1px; border-right:#e5e5e5 solid 1px; padding:0 12px;}
.memberTitle h2{line-height:40px;}
.memberTitle .btn{position:absolute; z-index:10; top:8px; right:0px; white-space:nowrap;}
.memberTitle .btn img{position:relative; top:3px; margin-right:5px;}

.tabContent{display:none;}

.selectDiv{cursor:pointer;}
.selectDiv span{padding-left:5px;}
.selectDiv select{display:none;}
/**/
.selectLayer{position:absolute; z-index:100; display:none; background:#FFF; border:#e0e0e0 solid 1px;}
.selectLayer li{height:22px; line-height:22px; overflow:hidden; padding-left:15px; color:#666;}




